<div class="well col-xs-8">
  <li id="event-<%= event.id %>">
    <span class="user"><%= link_to event.creator.name, event.creator %></span>
    <span class="content"><%= event.description %></span>
    <span class="timestamp">Date: <%= event.date %></span>
  </li>
</div>
