<h3 style="margin-top: 80px">Creator of the event</h3>
<p><%= @event.creator.name %></p>
<h3>Event Description</h3>
 <%= @event.description %>
<h3>All the attendees of the event</h3>
<div class="col-md-8">
  <% @relationships.each do |relationship| %>
    <ol class="events">
      <%= relationship.attendee.name%>
    </ol>
  <% end %>
</div>
