<li id="event-<%= event.id %>">
  <span class="user"><%= link_to event.user.name, event.user %></span>
  <span class="content"><%= event.description %></span>
  <span class="timestamp">Date: <%= event.date %></span>
</li>
