<% provide(:title, @user.name) %>

<h1 class=text-center>User Details</h1>
<div class="users container">
  <div class="col-md-12">
      <div class="form-control">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" value="<%= @user.name %>" disabled>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" id="email" value="<%= @user.email %>" disabled>
        </div>
      </div>
  </div>

  <div class="row" style="margin-top: 150px">
   <div class="col-md-8 upcoming_events_list">
     <h1 class="upcoming-events-section"> Event you are attending</h1>
     <% @upcoming_events.each do |upcoming_event| %>
       <ol class="events">
         <%= upcoming_event.description%>
       </ol>
     <% end %>
   </div>
  </div>

  <div class="row">
   <div class="col-md-8 previous_events_list">
     <h1 class="previous-events-section"> Attended Events</h1>
     <% @prev_events.each do |prev_event| %>
       <ol class="events">
         <%= prev_event.description%>
       </ol>
     <% end %>
   </div>
  </div>
</div>
