<h1>The user details</h1>
<div class="users container">
  <div class="col-md-12">
      <div class="form-control form-wrap">
        <div class="form-group">

          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" value="<%= user.name %>" disabled>

            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" value="<%= user.email %>" disabled>
        </div>
      </div>
  </div>
</div>
