@import "bootstrap-sprockets";
@import "bootstrap";

/* events */

.events {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

.event-wrap {
  padding: 5px;
  border: solid gray 1px;
  border-radius: 5px;
  margin-bottom: 3px;
}

/* Header */

body {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* user */

.users {
  width: 90%;
  justify-content: center;
}

/* events */

.events {
  margin-top: 20px;
}

ol {
  padding: 0;
}
